.Sidebar__meta .ant-menu-dark.ant-menu-inline .ant-menu-item {
    margin-top: 0px !important;
}

.Sidebar__meta .ant-menu.ant-menu-dark .ant-menu-item-selected {
    margin-top: 0px !important;
}

/* .Sidebar__meta .ant-layout-content {
    margin-top: 108px;
} */